/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #1c62d4;
}

main a,
footer a {
    text-decoration: underline;
}

footer a {
    color: #fff;
}

.token-line .token.comment {
    color: #767676 !important;
}

.theme-code-block pre.prism-code {
    background-color: #fff !important;
}
